@tailwind base;
@tailwind components;
@tailwind utilities;

.App-header {
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: black;
  animation: fadeIn 1s ease-in-out;
  margin-top: 50px;
  font-weight: bold;
}

.Subheading {
  font-size: calc(10px + 2vmin);
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  margin-top: 50px;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.App-input {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 300px;
  color: black; 
  margin-bottom: 20px; 
  animation: fadeIn 1s ease-in-out;
}

input:hover {
  background-color: #ddddddd2;
  transition: background-color 0.3s ease-in-out;
}

input:hover::placeholder {
  color:#4d4d4d;
  transition: color 0.3s ease-in-out;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007BFF;
  cursor: pointer;
  animation: slideIn 1s ease-in-out;
}

button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease-in-out;
}

.Text {
  text-align: center;
  font-size: large;
  animation: fadeIn 1s ease-in-out;
}

.Inputpanel {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  justify-content: center;
}

.Outputpanel {
  margin-top: 50px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  justify-content: center;
}

.General {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.Loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  margin-top: 25px;
}